/* Style for todo list */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: .75fr 4fr .25fr;
    grid-template-columns: .75fr 4fr;
    grid-template-areas:
        "lhn header"
        "lhn main"
        "lhn footer";
}

#lhn {
    grid-area: lhn;
    background-color: #F3F4F6;
}

.header {
    grid-area: header;
    background-color: #3B82F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 3.5rem;
    color: #FFFFFF;
}

.main {
    grid-area: main;
    background-color: #F9FAFB;
}

#footer {
    grid-area: footer;
    background-color: #F9FAFB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

#footer-content {
    font-size: 1rem;
    color: #111827;
}

a {
    text-decoration: none;
    color: #111827;
}

a:hover {
    color: #3B82F6;
}