/* Style for todo list */

:root {
    --lhn: #F3F4F6;
    --lhn-hover: #E5E7EB;
    --lhn-click: #D1D5DB;
    --header: #3B82F6;
    --header-hover: #1D4ED8;
    --header-click: #1E3A8A;
    --main-text: #111827;
    --header-text: #FFFFFF;
    --main-background: #F9FAFB;

}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: .75fr 4fr .25fr;
    grid-template-columns: .75fr 4fr;
    grid-template-areas:
        "lhn header"
        "lhn main"
        "lhn footer";
}

#lhn {
    grid-area: lhn;
    background-color: var(--lhn);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#profile-lhn {
    display: flex;
    align-items: center;
    gap: .75rem;
    padding: 2rem 2rem 2rem 2rem;
}

#profile-image {
    max-width: 4.5rem;
    max-height: 4.5rem;
    border-radius: 99999rem;
}

#profile-name {
    font-size: 1.75rem;
    color: var(--main-text);
}

.button-edit {
    all: unset;
    display: inline-block;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#button-profile-edit {
    background-color: var(--lhn);
    font-size: 1.75rem;
    display: flex;
    gap: .5rem;
    border-radius: 5px;
    padding: 0 .5rem 0 .5rem;
}

#button-profile-edit, .button-todo-edit {
    color: var(--main-text);
}

#body-lhn {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item-lhn {
    color: var(--main-text);
    border: none;
    background-color: var(--lhn);
    align-self: start;
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 100%;
    border-radius: 5px;
}

.item-lhn-parent {
    padding: .25rem 0rem .25rem 2rem;
    font-size: 1.75rem;
}

#home-button-lhn {
    cursor: pointer;
}

.item-lhn-child {
    padding: .25rem 0rem .25rem 3.5rem;
    font-size: 1.25rem;
    cursor: pointer;
}

#lists-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#header {
    grid-area: header;
    background-color: var(--header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}

.title {
    font-size: 3.5rem;
    color: var(--header-text);
}

.new-button {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--header-text);
    color: var(--header);
    border: 2px solid var(--header-text);
    cursor: pointer;
}

#home-new-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}

#main {
    grid-area: main;
    background-color: var(--main-background);
    overflow-y: auto;
}

#main-home {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2.25rem 2rem 1rem 2rem;
    gap: 2rem;
}

#main-home-title {
    font-size: 1.75rem;
    color: var(--main-text);
}

#lists-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
    width: 100%;
}

.grid-list-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--lhn);
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid var(--header);
}

.home-list-header {
    all: unset;
    cursor: pointer;
    align-self: start;
    border: none;
    background-color: var(--lhn);
    color: var(--main-text);
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1.5rem;
}

.home-todo {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
    color: var(--main-text);
    border-top: 2px solid var(--header);
    padding: .5rem;
}

.home-todo-check-name {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.home-todo-checkbox {
    background-color: var(--main-background);
    border: 2px solid var(--header);
    padding: .2rem;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-todo-checkbox.checked .check-svg {
    visibility: visible;
}

.home-todo-checkbox.checked {
    background-color: var(--header);
}

s {
    text-decoration-color: var(--main-text);
}

.check-svg {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    visibility: hidden;
    stroke: var(--header-text);
}

.home-todo-due-edit {
    display: flex;
    gap: .75rem;
    align-items: center;
}

.todo-dialog[open] {
    all: unset;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-background);
    padding: 2rem;
    border-radius: 8px;
    border: 2px solid var(--header);
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 400px;
    justify-content: space-between;
    gap: 1.5rem;
}

.title-and-close-button {
    display: flex;
    flex-direction: column;
}

.close-modal-button {
    all: unset;
    cursor: pointer;
    color: var(--main-text);
    align-self: end;
    font-weight: 600;
    font-size: 1.25rem;
}

.modal-title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-text);
}

.form {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.todo-label-and-field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.todo-label {
    color: var(--main-text);
    font-size: .9rem;
    font-weight: 600;
}

.edit-todo-field {
    background-color: var(--header-text);
    border: 2px solid var(--header);
    border-radius: 5px;
    min-height: 1.25rem;
    font-size: 1rem;
    padding: .5rem;
    color: var(--main-text);
    cursor: pointer;
}

textarea, input {
    font-family: inherit;
}

select {
    appearance: none;
}

#todo-description {
    min-height: 50px;
}

.dialog-save {
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 8px;
    border: none;
    background-color: var(--header);
    color: var(--header-text);
    border: 2px solid var(--header-text);
    cursor: pointer;
    width: 25%;
    align-self: center;
}

.blur {
    filter: blur(10px);
}

label {
    font-size: 1rem;
    color: var(--main-text);
}

.radio-buttons {
    display: flex;
    gap: .25rem;
}

.hidden {
    visibility: hidden;
}

#footer {
    grid-area: footer;
    background-color: var(--main-background);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}

#footer-content {
    font-size: 1rem;
    color: var(--main-text);
}

a {
    text-decoration: none;
    color: var(--main-text);
}

a:hover {
    color: var(--header);
}